<!DOCTYPE html>
<html>
  <head>
    <title>Pimienta & sal</title>
    <link rel="stylesheet" href="/css/detail.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <!-- Navbar (sit on top) -->
    <%- include('./partials/nav')%>
   
    <!-- Page content -->
    <div class="ps-content">

      <!-- Menu Section -->
      <section class="ps-row ps-padding-64" id="menu">
        <article class="ps-col l6 ps-padding-large">
          <h1 class="ps-center"><%= detailImage.nombre %></h1>
          <h4>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</h4>
          <p class="ps-text-grey">
            <%= detailImage.precio %>
          </p>
        </article>
        <article class="ps-col l6 ps-padding-large ps-img-menu">
          <img
            src="<%=detailImage.image %>"
            class="ps-round ps-image ps-opacity-min"
            alt="Menu"
          />
        </article>
          <article class="button">
            <button>Eliminar</button>
            <form method="POST" action="/menu/detail/<%=detailImage.nombre %>/edit?_method=PUT">
              <button>Modificar</button>
              </form>
          </article>
      </section>

      <!-- Footer -->
      <footer class="ps-center ps-light-grey ps-padding-32">
        <p>Powered by Pimienta & Sal</p>
      </footer>
    </div>
  </body>
</html>
