
<html>
  <head>
    <title>Pimienta & sal</title>
    <link rel="stylesheet" href="/css/create.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <!-- Navbar (sit on top) -->
    <%- include('./partials/nav')%>
   
    <!-- Page content -->
  <form method="POST" enctype="multipart/form-data" action="/menu/detail/<%=detailImage.nombre %>/edit?_method=PUT">
          <label for="nombrePlato"><span>Nombre del plato</span>
                <input name="nombre" id="nombrePlato" value="<%=findFood.nombre%>">
            </label>
            <label for="precio"><span>Precio</span>
                <input name="precio" id="precio"  value="<%=findFood.precio%>">
            </label>
            <label for="descripcion"><span>Descripcion</span>
                <input name="descripcion" id="descripcion" type="descripcion"  value="<%=findFood.descripcion%>">
            </label>
            <label for="image"><span>Imagen : <%=findFood.image %></span>
                <input name="image" id="image" type="file"  value="<%=findFood.image %>">
            </label >
            <button type="submit">enviar</button>
</form>
  </body>
</html>
