<!DOCTYPE html>
<html>
  <head>
    <title>Pimienta & sal</title>
     <link rel="stylesheet" href="/css/index.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <!-- Navbar (sit on top) -->
    <%- include('./partials/nav')%>
   

    <!-- Header -->
    <%- include('./partials/header')%>

    <!-- Page content -->
    <div class="ps-content">

      <hr />
      <!-- Menu Section -->
      <div class="" id="menu">
          <h1 class="">Nuentro Menu</h1>
        <div class="menu-content">
          <% for (let menu of menuComida) {%>
          <h4><%= menu.nombre %></h4>
            <a href="/detail/<%= menu.id %>"><img src="<%=menu.image %>"/></a>
          <p class="ps-text-grey">
            <%= menu.descrpcion%> 
          </p>
          <p>precio: <%=menu.precio%></p>
        <%}%>
        </div>
      </div>

      <!-- Footer -->
      <footer class="">
        <p>Powered by Pimienta & Sal</p>
      </footer>
    </div>
  </body>
</html>
