<!DOCTYPE html>
<html>
  <head>
    <title>Pimienta & sal</title>
     <link rel="stylesheet" href="/css/menu.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <!-- Navbar (sit on top) -->
    <%- include('./partials/nav')%>

    <!-- Page content -->
      <!-- Menu Section -->
      <section class="" id="menu">
          <h1 class="">Nuestro Menu</h1>
        <article class="menuContent">
          <% for (let menu of menuComida) {%>
          <article class="card">
            <h4 id="title-menu"><%= menu.nombre %></h4>
            <div class="container-picture">
            <a href="/menu/detail/<%= menu.id %>"><img src="<%=menu.image %>"/></a>
            </div>
            <p class="ps-text-grey"><%= menu.descrpcion%> </p>
            <p>precio: <%=menu.precio%></p>
          </article>
        <%}%>
        </article>
      </section>
      <!-- Footer -->
      <%-include('./partials/footer')%>
  </body>
</html>
